
*{
	margin:0px;
}

#my-div
{
	/*display:none;*/
  height: 80%;

}

#my-iframe
{
	z-index  : 1000000;
	border-color: white;
  border-width: 1px;
  width: 400px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position : fixed;
  height: 80%;
  right: 15px;
  bottom: 20px;
}



#live-chat-button{
  /*display: none;*/
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:1000000;
	opacity:.9;
	background: linear-gradient(to bottom, #f58220 100%, #f6f6f6 0%);
	height: 80px;
	width:80px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#mobile-chat-button{
  display: none;
  position:fixed;
  bottom:20px;
  right:20px;
  z-index:101;
  opacity:.9;
  background: linear-gradient(to bottom, #ed1f3c 100%, #f6f6f6 0%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#mobile-notification-button{
  display: none;
  position:fixed;
  bottom: 62px;
    right: 15px;
    color: #333;
    z-index: 150;

}

@media screen and (max-width: 768px) {
  #live-chat-button {display: none;}
  #mobile-chat-button {display: block;}
  #close-div {display: block;}
  /*#mobile-notification-button {display: block;}*/
  #close-button {display:none;}
  #my-iframe {display: none;}


}

.speech-bubble {
    background: white;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 7px;
    position: fixed;
    bottom: 70px;
    right:110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.speech-bubble p {
    margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
    margin-bottom: 0;
}

.mobile-speech-bubble-bottom {
    display:none;
    font-family: 'Roboto', sans-serif;
    background: white;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.3rem;
    line-height: 1.3;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 7px;
    position: fixed;
    bottom: 62px;
    right:58px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mobile-speech-bubble-bottom p {
    margin: 0 0 10px;
}
.mobile-speech-bubble-bottom p:last-of-type {
    margin-bottom: 0;
}
.mobile-speech-bubble-top {
    display: none;
    font-family: 'Roboto', sans-serif;
    background: white;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.3rem;
    line-height: 1.3;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 7px;
    position: fixed;
    bottom: 62px;
    right:58px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mobile-speech-bubble-top p {
    margin: 0 0 10px;
}
.mobile-speech-bubble-top p:last-of-type {
    margin-bottom: 0;
}
#close-div{
    display: none;
    position: fixed;
    bottom: 202px;
    right: 46px;
    z-index: 101;
    opacity: .9;
    background: linear-gradient(to bottom, #ed1f3c 100%, #f6f6f6 0%);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#close-div:hover{
  opacity:1;
}

#close-button{
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:1000000;
	opacity:.9;
	background: linear-gradient(to bottom, #f58220 100%, #ed1f3c 0%);
	height: 80px;
	width:80px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#live-chat-button:hover{
	opacity:1;
}



#close {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index:103;


}
#close:hover {
  transform: rotate(90deg);
  opacity: 1;
}
#close:before, #close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}
#timey{
	background-color:#2ea3f2;
	color:#fafafa;
	font-size:20px;
	box-shadow:0px 1px 4px black;
	padding-top:4px;
	padding-bottom:2px;
}
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
